<p>Email: <%= @user.email %></p>
<p>Full name: <%= @user.fullname %></p>

<p><%= image_tag @user.avatar.url(:medium) %></p>

Translators:
<% @translators.each do |translator| %>
| <%= link_to translator.fullname, show_user_path(translator.id) %> |
<% end %>
