<h1>User</h1>

<% if (current_user.id != @user.id) %>
	<%= current_user.translators.include?(@user) ? link_to("Unfollow", unfollow_user_path(@user), :method => :post) : link_to("Follow", follow_user_path(@user), :method => :post) %>
<% end %>

<%= render 'users/user' %>


